	<head>
		<link href="css/styles.css" rel="stylesheet">
<center><a style="color:red" href='/'>Reset</a></center>
	</head>
		<body class= "bgchoc">
<h1 class= "color_blue center">ISBN Analyzer</h1>
<%=yield%>
		</body>
</html>