<html>
	<head>
		<body class= "bgchoc">
		<link href="css/styles.css" rel="stylesheet">
<h1 class= "color_blue center">ISBN Analyzer</h1>
<center><a style="color:red" href='/'>Reset</a></center>
<%=yield%>
		</body>
	<head>
</html>