.color_blue{
color: blue;

}

.color_darkmagenta{
color: darkmagenta;

}


.center{
border-bottom: 5px double white;
text-align: center;

}

.bgchoc{
background-color: "chocolate";

}

footer {
position: absolute;
left: 0;
right: 0;
text-align: center;
bottom: 0;

}